main
    padding: 0 9.6rem
    display: flex
    align-items: center
    justify-content: space-between

    .cards
        overflow-x: hidden
        width: 100%

        div
            display: flex
            align-items: center
            transition: 500ms ease
            gap: 1.6rem   

app-card
    flex-shrink: 0
    width: 100%

mat-icon
    height: unset
    width: fit-content
    z-index: 1
    font-size: 8rem!important
    color: white
    cursor: pointer
    transition: 300ms ease

    &:hover
        color: #ff4081

    &:active
        transform: scale(.8)
