main
    padding: 2.4rem 9.6rem 0
    display: flex
    align-items: center
    justify-content: space-between

app-card
    width: 100%

mat-icon
    height: unset
    width: fit-content
    z-index: 1
    font-size: 8rem!important
    color: white
    cursor: pointer
    transition: 300ms ease

    &:hover
        color: #ff4081

    &:active
        transform: scale(.8)
