header
    display: flex
    align-items: center
    justify-content: space-between 
    padding: 1.6rem 9.6rem
    position: sticky
    top: 0
    z-index: 1

img
    height: 8rem
    padding: .4rem
    background-color: #131313

button
    font-weight: normal

.controls
    display: flex
    gap: .8rem