<app-toast></app-toast>
<div class="container">
  <div class="image-container">
    <ngx-skeleton-loader
      animation="progress"
      [theme]="{
        height: '100%'
      }"
      *ngIf="!imgLoaded"
      class="skeleton"
    ></ngx-skeleton-loader>
    <img [src]="catData.url" alt="" (load)="imgLoaded = true" />
  </div>
  <div class="info">
    <div>
      <h3>{{ catData.breeds[0].name }}</h3>
      <div class="info-title">
        <mat-icon>flag_circle</mat-icon>
        <p>Origin: {{ catData.breeds[0].origin }}</p>
      </div>
    </div>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let temperament of catData.breeds[0].temperament.split(', ')"
        >{{ temperament }}</mat-chip
      >
    </mat-chip-list>

    <mat-divider></mat-divider>
    <p>{{ catData.breeds[0].description }}</p>
    <mat-divider></mat-divider>

    <div>
      <div class="info-title">
        <mat-icon>favorite</mat-icon>
        <p>Health issues: {{ catData.breeds[0].health_issues }}</p>
      </div>
      <mat-progress-bar
        mode="determinate"
        color="accent"
        [value]="catData.breeds[0].health_issues * 20"
      ></mat-progress-bar>
    </div>

    <div>
      <div class="info-title">
        <mat-icon>bolt</mat-icon>
        <p>Energy: {{ catData.breeds[0].energy_level }}</p>
      </div>
      <mat-progress-bar
        mode="determinate"
        color="accent"
        [value]="catData.breeds[0].energy_level * 20"
      ></mat-progress-bar>
    </div>

    <div>
      <div class="info-title">
        <mat-icon>psychology</mat-icon>
        <p>Intelligence: {{ catData.breeds[0].intelligence }}</p>
      </div>
      <mat-progress-bar
        mode="determinate"
        color="accent"
        [value]="catData.breeds[0].intelligence * 20"
      ></mat-progress-bar>
    </div>

    <mat-divider></mat-divider>
    <div class="info-title">
      <mat-icon>scale</mat-icon>
      <p>Weight: {{ catData.breeds[0].weight.metric }} KG</p>
    </div>
    <div class="info-title">
      <mat-icon>schedule</mat-icon>
      <p>Lifespan: {{ catData.breeds[0].life_span }} years</p>
    </div>

    <mat-divider></mat-divider>
    <p>
      More in
      <a [href]="catData.breeds[0].wikipedia_url" target="_blank">Wikipedia</a>
    </p>
    <mat-divider></mat-divider>

    <button
      mat-button
      color="accent"
      [disabled]="clicked"
      (click)="handleFavourite()"
      *ngIf="!favourited"
    >
      <div>
        <mat-spinner color="accent" diameter="30" *ngIf="clicked"></mat-spinner>
        Favourite
      </div>
    </button>
    <button
      mat-flat-button
      color="accent"
      [disabled]="clicked"
      (click)="handleUnfavourite()"
      *ngIf="favourited"
    >
      <div>
        <mat-spinner color="accent" *ngIf="clicked" diameter="30"></mat-spinner>
        Unfavourite
      </div>
    </button>
  </div>
</div>
