.container
    display: flex
    align-items: center
    height: calc(100vh - 16rem)
    gap: .8rem
    width: 100%
    overflow: hidden

.image-container
    padding-right: .8rem
    height: 100%
    width: 50%
    text-align: center
    position: relative

    img
        object-fit: contain
        height: 100%
        max-width: 100%

.info
    display: flex
    flex-direction: column
    gap: 1.6rem
    background-color: white
    padding: 1.6rem
    border-radius: .8rem
    height: 100%
    width: 50%
    overflow-y: auto

a
    text-decoration: none

button
    width: 100%

    div
        display: flex
        align-items: center
        justify-content: center
        flex-direction: row
        gap: .8rem

.info-title
    widows: 100%
    display: flex
    align-items: center
    gap: .8rem

p
    margin: 0

h3
    font-weight: bold
    margin-bottom: .4rem

mat-progress-bar
    margin-top: .8rem

.skeleton
    position: absolute
    inset: 0